[submodule "2_ros_packages/ws_livox/src/livox_ros_driver2"]
	path = 2_ros_packages/ws_livox/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "2_ros_packages/Livox-SDK2"]
	path = 2_ros_packages/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
